@model AppStore.Models.DTO.LibroListVm;
@{
  Layout = "_Layout";
}

    <section class="search-bar">
          <form >
          <input type="text" placeholder="Buscar libro" name="term">
          <button type="submit"><i class="fa fa-search"></i></button>
         </form>
        </section>
        <section class="movies">

          @foreach(var libro in Model.LibroList!){
        <div class="movie-card" onclick="window.location.href='/Home/LibroDetail?libroId=@libro.Id'" >
            <div class="movie-image">
            <img src="/Upload/@libro.Imagen" width="200" height="250">
            </div>
            <div class="movie-info">
                <h4>@libro.Titulo</h4>
                <h4>@libro.CategoriaNames</h4>
                <h4>@libro.Autor</h4>
                <h4>@libro.CreateDate</h4>
            </div>
           </div>
          }

         

        </section>

        <div class="pagination">
         @for (int i = 1; i <= Model.TotalPages; i++)
    {
        <a href="@Url.Action("Index", new { pagina = i, term = Model.Term })"
           class="@(i == Model.CurrentPage ? "active" : "")">
           @i
        </a>
    }
    </div>

      